<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MockStar: An AI powered mock interview platform</title>
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="stylesheet" href="/static/css/interview.css">
</head>

<body>
  <style>
    /* Full-screen loading overlay styles */
    .loading-overlay {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.8);
      color: white;
      font-size: 1.5rem;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      z-index: 1000;
    }

    .loading-message {
      margin-top: 20px;

    }
  </style>

  <!-- Loading overlay -->
  <div class="loading-overlay" id="loading-overlay">
    <div class="spinner"></div>
    <div class="loading-message" id="loading-message">Loading...</div>
  </div>

  <navbar>
    <div class="logo">
      <img
        src="https://static1.squarespace.com/static/626b5e07496e6707a6b22b2a/t/62959405a520674872ab9c90/1743406405819/"
        alt="MockStar Logo" height="20" style="filter: invert(1);">
    </div>
    <div class="nav-links">
      <a href="/"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
          fill="#e3e3e3">
          <path
            d="M240-200h120v-240h240v240h120v-360L480-740 240-560v360Zm-80 80v-480l320-240 320 240v480H520v-240h-80v240H160Zm320-350Z" />
        </svg>Home</a>
      <a href="/interview"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
          fill="#e3e3e3">
          <path
            d="M160-160q-33 0-56.5-23.5T80-240v-480q0-33 23.5-56.5T160-800h480q33 0 56.5 23.5T720-720v180l160-160v440L720-420v180q0 33-23.5 56.5T640-160H160Zm0-80h480v-480H160v480Zm0 0v-480 480Z" />
        </svg>Interview</a>
      <a href="/history"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
          fill="#e3e3e3">
          <path
            d="M480-120q-138 0-240.5-91.5T122-440h82q14 104 92.5 172T480-200q117 0 198.5-81.5T760-480q0-117-81.5-198.5T480-760q-69 0-129 32t-101 88h110v80H120v-240h80v94q51-64 124.5-99T480-840q75 0 140.5 28.5t114 77q48.5 48.5 77 114T840-480q0 75-28.5 140.5t-77 114q-48.5 48.5-114 77T480-120Zm112-192L440-464v-216h80v184l128 128-56 56Z" />
        </svg>History</a>
      <a href="/settings"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
          fill="#e3e3e3">
          <path
            d="m370-80-16-128q-13-5-24.5-12T307-235l-119 50L78-375l103-78q-1-7-1-13.5v-27q0-6.5 1-13.5L78-585l110-190 119 50q11-8 23-15t24-12l16-128h220l16 128q13 5 24.5 12t22.5 15l119-50 110 190-103 78q1 7 1 13.5v27q0 6.5-2 13.5l103 78-110 190-118-50q-11 8-23 15t-24 12L590-80H370Zm70-80h79l14-106q31-8 57.5-23.5T639-327l99 41 39-68-86-65q5-14 7-29.5t2-31.5q0-16-2-31.5t-7-29.5l86-65-39-68-99 42q-22-23-48.5-38.5T533-694l-13-106h-79l-14 106q-31 8-57.5 23.5T321-633l-99-41-39 68 86 64q-5 15-7 30t-2 32q0 16 2 31t7 30l-86 65 39 68 99-42q22 23 48.5 38.5T427-266l13 106Zm42-180q58 0 99-41t41-99q0-58-41-99t-99-41q-59 0-99.5 41T342-480q0 58 40.5 99t99.5 41Zm-2-140Z" />
        </svg>Settings</a>
      <div class="divider-vertical"></div>
      <div class="profile">
        {% if session['user'] %}
        <a href="/profile"><img src="{{ session['user']['avatar_url'] }}" alt="Profile Picture"
            class="profile-picture">Profile</a>
        {% else %}
        <a href="/auth/login">Login</a>
        {% endif %}
      </div>
    </div>
  </navbar>

  <div class="container">
    <div class="job-application-form">
      <h2>Ready to start your interview?</h2>
      <p>Before we begin, please provide us with some details about the job you are applying for and upload your
        resume
        to
        help us tailor the interview experience to your needs.</p>
      <form id="interview-form" enctype="multipart/form-data">
        <div class="form-group">
          <label for="job-description">1. Please provide the job description for the position you are applying for,
            feel
            free to
            copy and paste it here:</label>
          <textarea id="job-description" name="job_description" rows="4" placeholder="Enter the job description here..."
            required></textarea>
        </div>
        <br>
        <div class="form-group">
          <label for="resume">2. Upload Your CV/Resume (PDF format only, max 5MB):</label>
          <input type="file" id="resume" name="resume" accept=".pdf" required hidden>
          <div class="file-upload" onclick="document.getElementById('resume').click();">
            <div class="file-upload-icon">
              <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                fill="#e3e3e3">
                <path
                  d="M260-160q-91 0-155.5-63T40-377q0-78 47-139t123-78q25-92 100-149t170-57q117 0 198.5 81.5T760-520q69 8 114.5 59.5T920-340q0 75-52.5 127.5T740-160H520q-33 0-56.5-23.5T440-240v-206l-64 62-56-56 160-160 160 160-56 56-64-62v206h220q42 0 71-29t29-71q0-42-29-71t-71-29h-60v-80q0-83-58.5-141.5T480-720q-83 0-141.5 58.5T280-520h-20q-58 0-99 41t-41 99q0 58 41 99t99 41h100v80H260Zm220-280Z" />
              </svg>
            </div>
            <label for="resume" class="file-upload-label">Choose File (<span id="file-name" class="file-name">No file
                chosen</span>)</label>
          </div>
        </div>
        <div class="form-group">
          <label for="interview-type">3. Select the type of interview you want to practice:</label>
          <select id="interview-type" name="interview_type" required>
            <option value="" disabled selected>Select an option</option>
            <option value="technical">Technical Interview</option>
            <option value="behavioral">Behavioral Interview</option>
            <option value="common-questions">Common Questions</option>
          </select>
        </div>
        <button type="submit" class="cta-button">Start Interview</button>
      </form>
    </div>
  </div>

  <script>
    const messages = [
      "Parsing resume...",
      "Understanding job role...",
      "Preparing questions...",
      "Finalizing interview setup...",
      "Almost there...",
      "Ready to start your interview!",
      "Good luck!",
      "You got this!",
      "MockStar is here to help you shine!",
      "Let's ace this interview together!",
      "Your success is our mission!",
      "MockStar: Your AI-powered interview partner!",
      "Interview preparation made easy!",
    ];

    document.getElementById('resume').addEventListener('change', function () {
      const fileName = this.files[0] ? this.files[0].name : 'No file chosen';
      document.getElementById('file-name').textContent = fileName;
    });

    document.getElementById('interview-form').addEventListener('submit', function (e) {
      e.preventDefault();

      const overlay = document.getElementById('loading-overlay');
      const messageElement = document.getElementById('loading-message');
      overlay.style.display = 'flex';

      let index = 0;
      messageElement.textContent = messages[index];

      const interval = setInterval(() => {
        index++;
        if (index >= messages.length) {
          clearInterval(interval);
        } else {
          messageElement.textContent = messages[index];
        }
      }, 2000); // Change message every 2 seconds

      // Create FormData object
      const formData = new FormData(this);

      // Submit the form using fetch
      fetch('/api/v1/create-interview', {
        method: 'POST',
        body: formData,
        // Do not set Content-Type header when using FormData
      })
        .then(response => {
          if (response.redirected) {
            // Follow the redirect
            window.location.href = response.url;
          } else {
            return response.json().then(data => {
              if (!response.ok) {
                throw new Error(data.message || 'Something went wrong');
              }
              return data;
            });
          }
        })
        .catch(error => {
          console.error('Error:', error);
          overlay.style.display = 'none';
          alert('Error: ' + error.message);
        });
    });
  </script>
</body>

</html>